{% if layout == "layouts/admin_layout.html" %}
{% extends "layouts/admin_layout.html" %}

{% block admin_content %}
{% include "auth/_change_password_body.html" %}
{% endblock %}

{% elif layout == "layouts/patient_layout.html" %}
{% extends "layouts/patient_layout.html" %}

{% block patient_content %}
{% include "auth/_change_password_body.html" %}
{% endblock %}

{% elif layout == "layouts/lab_layout.html" %}
{% extends "layouts/lab_layout.html" %}

{% block lab_content %}
{% include "auth/_change_password_body.html" %}
{% endblock %}

{% elif layout == "layouts/doctor_layout.html" %}
{% extends "layouts/doctor_layout.html" %}

{% block doctor_content %}
{% include "auth/_change_password_body.html" %}
{% endblock %}


{% endif %}
